#carouselDestaques {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    position: relative;
    overflow: hidden;
}

.carousel-item img.carousel-image {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
}


main {
    padding-top: 80px;
}


header {
    z-index: 1050;
}


.icons {
    width: 24px;
    height: 24px;
    object-fit: contain;
}


footer .text-justify {
    text-align: justify;
}



.container-fluid.p-0 {
    padding: 0 !important;
}


.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: hsl(218, 31%, 5%);
    color: white;
}


.icons {
    height: 1.25rem;
    width: 1.25rem;
    margin-top: 0.063rem;
}


.banner-image {
    max-height: 100vh;
    min-height: 400px;
    object-fit: cover;
}


.banner-content {
    padding-top: 70px;
    padding-bottom: 50px;
}



.movie-card-img {
    height: 450px;
    object-fit: cover;
}


input.form-control {
    border-radius: 25px;
    border: 2px solid hsl(49, 100%, 50%);
    padding: 10px 15px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}


input.form-control:focus {
    border-color: hsl(49, 100%, 50%);
    box-shadow: 0 0 8px hsl(49, 100%, 37%);
}


button.btn-outline-success {
    border-radius: 25px;
    border-width: 2px;
    padding: 8px 20px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    border-color: hsl(49, 100%, 50%);
    color: hsl(49, 100%, 50%);
}


button.btn-outline-success:hover {
    background-color: hsl(49, 100%, 50%);
    color: white;
    border-color: hsl(49, 100%, 50%);
}


.menu-link {
    color: white;
    transition: color 0.3s ease-in-out;
}


.menu-link:hover {
    color: hwb(37 23% 0%) !important;
}


a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}


a:visited,
a:link {
    color: whitesmoke;
}


a:hover {
    color: rgb(0, 0, 0);
}


.lista-filmes-item:hover .lista-filmes-item-imagem {
    transform: scale(1.05);
    opacity: 0.8;
    border: 0.125rem solid rgba(255, 255, 255, 0.685);
    transition: all 0.3s ease;
}